.form__input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;

  background-color: lavenderblush;
  border: none;
}

.form__input-item:hover {
  opacity: .7;
  scale: 1.1;

  transition: scale .3s ease;
}
